body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.code-mirror-wrapper {
  height: 60vh !important;
}
.CodeMirror{
 height: inherit !important;
}
.editor-div{
  display: flex;
  width: 32vw;
  flex-direction: column;
}
.App{
  display: flex;
  justify-content: space-evenly;
}
.Output{
  margin: 18px;
  height: 28vh;
}